$PrimeColor: #2387e4;

body {
  margin: 0;
  font-size: 18px;
}

.g-page-container {
  box-sizing: border-box;
  width: 100%;
  padding-right: 15%;
  padding-left: 15%;
}


#m-main-page {
  margin-top: 8vh;
  width: 100%;
}

.m-keyword-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 70vh;

  .m-keyword {

    box-sizing: border-box;
    width: 20vw;
    height: 250px;
    margin: 1em;
    //border: 1px solid rgba(0, 0, 0, 0.4);
    //border-radius: 5px;

    & > * {
      width: 100%;
    }

    .u-keyword {
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgba(0, 0, 0, .8);
      height: 80%;
      font-size: 2.5em;
    }

    .u-detail {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20%;
      color: white;
      background: rgba(0, 0, 0, 0.4);
      transition: background-color .3s;
    }

    transition: margin-top, border, .3s;

    &:hover {
      margin-top: -1em;
      border: 3px solid $PrimeColor;

      .u-detail {
        background: $PrimeColor;
      }
    }

    &.fade-in {
      animation: v-fade-in .3s;
    }

    &.v-hide {
      opacity: 0;
      margin-top: -10em;
    }

    @keyframes v-fade-in {
      0% {
        margin-top: -10em;
        opacity: 0;
      }
      80% {
        margin-top: 1em;
      }
      100% {
        margin-top: 0;
        opacity: 1;
      }
    }
  }

}